node_modules/
out/
dist/
build/
*.vsix
.DS_Store

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variable files
.env
.env.development
.env.test
.env.production

# temp
.temp
.tmp
/tmp
